for school in schools

  .result-item.container.col-md-12(data-id=school._id)
    .row
      .col-md-4.school-search-pic.vcenter
        img(src="/images/stock-school.png")

      .col-md-8.school-search-prof.vcenter
        ul.list-group
          li.list-group-item
            span.badge School
            | #{school.name.toLowerCase()}
          li.list-group-item
            span.badge District
            | #{school.agencyName.toLowerCase()}
          li.list-group-item
            span.badge State
            | #{school.stateFull.toLowerCase()}
          li.list-group-item
            span.badge $ Needed
            if school.balance
              | #{school.balance.toLowerCase()}
            else
              | Current Balance

    .row.search-funding
      .col-md-8.funding-status.vcenter
        .fundraising.progress
          .progress-bar(style="width: 40%")
        .progress
          .progress-bar(style="width: 40%")
      .col-md-2.vcenter.funding-label
          p.percentRaised 90
          p.percentRaisedLabel  % &nbsp; &nbsp; Raised
