extends layout


block content

  //- p #{school}, #{finance}

  #profile-container
    .jumbotron.clearfix
      .container
        .row
          .col-md-5
            img(src="/images/stock-school.png")
          .col-md-7
            ul.list-group
              li.list-group-item
                span.badge School
                | #{school.name}
              li.list-group-item
                span.badge District
                | #{school.agencyName}
              li.list-group-item
                span.badge Zip
                | #{school.zip}
              li.list-group-item
                span.badge State
                | #{school.stateFull}
              li.list-group-item
                a(href="#") Link to school webpage

  .row
    .col-md-10.col-md-offset-1#fundraising
      .row
        .col-md-8
          p We need lunch money!
        .col-md-4
          a.btn.btn-primary.btn-lg(href="#") Feed!
      .row.fundraising-stats
        table.table-hover.table-condensed.col-md-4.col-md-offset-2
          tr
            th Deliquent Accounts:
            td hold
          tr
            th Avg Deliquent Balance:
            td hold
          tr
            th Cost per Lunch:
            td hold
      .row
        .col-md-7.col-md-offset-1
          .fundraising.progress
            .progress-bar(style="width: 40%")
          .progress
            .progress-bar(style="width: 40%")


  .row#stat-profile


block scripts
  script.
    var bootData = !{JSON.stringify({school: school, finance: finance})}
  script(src="/javascripts/schoolClient.js")




